@font-face {
    font-family: 'Berkshire Swash';
    src: url('assets/title.ttf');
}
html, body {
    background: #F2F6F9;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    background: #F2F6F9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #F2F6F9 , #DFDEF3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F2F6F9, #DFDEF3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    width: 100vw;
}
::-moz-selection {
    background: #A5D5E7;
}
::selection {
    background: #A5D5E7;
}
a {
    color: #D2A8FD;
    text-decoration: none;
}
a:visited {
    color: #A278ED;
}
a:hover {
    text-decoration: underline;

    -webkit-animation: rainbow 15s infinite;
    -moz-animation:    rainbow 15s infinite;
    -o-animation:      rainbow 15s infinite;
    animation:         rainbow 15s infinite;
}
code {
    background-color: #FFBD81;
    border-radius: 3px;
    border-bottom: 2px solid #F98825;
    color: #321902;
    font-weight: bold;
    padding: 3px;
}
h1 {
    color: #191414;
    font-family: 'Berkshire Swash';
    font-size: 3.75rem;
    position: absolute;
    top: 6.8rem;
    width: 100%;
}
p {
    background-color: #333333;
    bottom: 16px;
    color: #F9F9F9;
    left: 20%;
    line-height: 1.5rem;
    font-size: 14px;
    padding: 0.725rem;
    position: fixed;
    right: 20%;
    z-index: 24;
}
#board {
    cursor: crosshair;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
#board .member {
    -webkit-animation: float 5s infinite;
    -moz-animation:    float 5s infinite;
    -o-animation:      float 5s infinite;
    animation:         float 5s infinite;
    -webkit-transition: -webkit-transform 500ms;
    transition:         transform 500ms;
    background-image: url('assets/lightorb.gif');
    opacity: 0.75;
    position: absolute;
    height: 32px;
    width: 32px;
    z-index: 3;
}
#board .member:hover {
    background-image: url('assets/lightorb-hover.gif');
    cursor: pointer;
}
img#sphere {
    height: 22.5rem;
    margin-top: 1.75rem;
    pointer-events: none;
    position: relative;
    width: 18rem;
    z-index: 12;
}
.me {
    opacity: 1;
}
#board .member.me {
    opacity: 1;
}
/* Chrome, Safari, Opera */ 
@-webkit-keyframes rainbow {
    0% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
    50%  {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(180deg);
    }
    100% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
}
/* Standard syntax */
@keyframes rainbow {
    0% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
    50%  {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(180deg);
    }
    100% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
}
/* Chrome, Safari, Opera */ 
@-webkit-keyframes float {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: -10px;
    }
    100% {
        margin-top: 0;
    }
}
/* Standard syntax */
@keyframes float {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: -10px;
    }
    100% {
        margin-top: 0;
    }
}