# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# Elixir stuff
_build/
deps/
doc/

# Rust stuff
priv/native/*

# JS stuff
.tern-port
node_modules/
dist/

# Moongate stuff
.moongate
games/*
!games/chat
!games/orbs
logs/*
priv/temp/*
!priv/web/moongate.js/dist*

# ...but always keep .gitkeep.
!.gitkeep
