html, body {
  background: #F8F8F8;
  background-image: url('assets/bg.gif');
  cursor: crosshair;
}
div.Player {
  background-image: url('assets/orb.gif');
  position: fixed;
  transition: 300ms all ease-out;
  height: 32px;
  width: 32px;
}
div.Player:hover {
  background-image: url('assets/orb-hover.gif');
}
