@font-face {
    font-family: 'PixAntiqua';
    src: url('vendor/PixAntiqua.ttf') format('truetype');
}
html, css {
    background: #1a1a1a;
    height: 100%;
    width: 100%;
    text-align: center;
}
canvas {
    border: 1px solid #CCCCCC;
    display: inline-block;
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#canvas-container {
    display: inline-block;
    position: relative;
    width: 640px;
    height: 512px;
}
#game-hud {
    -webkit-font-smoothing : none;
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid black;
    color: black;
    cursor: default;
    font-family: 'PixAntiqua', sans-serif;
    font-size: 16px;
    font-smooth: never;
    margin: 6px;
    position: absolute;
    z-index: 100;
}
#game-hud .icon {
    margin: 4px;
}
